<%- include("header") -%>
<head>
  <link rel="apple-touch-icon" href="/docs/5.2/assets/img/favicons/apple-touch-icon.png" sizes="180x180">
  <link rel="icon" href="/docs/5.2/assets/img/favicons/favicon-32x32.png" sizes="32x32" type="image/png">
  <link rel="icon" href="/docs/5.2/assets/img/favicons/favicon-16x16.png" sizes="16x16" type="image/png">
  <link rel="manifest" href="/docs/5.2/assets/img/favicons/manifest.json">
  <link rel="mask-icon" href="/docs/5.2/assets/img/favicons/safari-pinned-tab.svg" color="#712cf9">
  <link rel="icon" href="/docs/5.2/assets/img/favicons/favicon.ico">
  <meta name="theme-color" content="#712cf9">
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  <link rel="stylesheet" href="public/css/style.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">


</head>
<!-- <div class="box" id="heading"><h1> <%= listTitle %> </h1></div> -->

<section aria-colspan="main">


  <!doctype html>
  <html lang="en">

    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="description" content="">
      <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
      <meta name="generator" content="Hugo 0.104.2">
      <title>SYGE</title>
  
      <link rel="canonical" href="https://getbootstrap.com/docs/5.2/examples/dashboard/">
      <link rel="stylesheet" href="style.css">
  
      <link rel="stylesheet" href="public/css/style.css">
      
  
      
  
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  
      <!-- Favicons -->
 
  
      
      <!-- Custom styles for this template -->
      <link href="style.css" rel="stylesheet">
    </head>
    <body>
      
  <header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3 fs-6" href="#">Welcome to SYGE</a>
    <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
   
    <div class="navbar-nav">
      <div class="nav-item text-nowrap">
          
        <a class="nav-link px-3" href="/">Sign out</a>
      </div>
    </div>
  </header>
  
  <div class="container-fluid">
    <div class="row">
      <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
        <div class="position-sticky pt-3 sidebar-sticky sideM">
          <ul class="nav flex-column">
            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted text-uppercase">
              <span>Administration</span>
              <a class="link-secondary" href="#" aria-label="Add a new report">
                <span data-feather="plus-circle" class="align-text-bottom"></span>
              </a>
            </h6>
            <li class="nav-item ">
              <a class="nav-link" aria-current="page" href="/dashbord.html">
                <span data-feather="home" class="align-text-bottom"></span>
                Dashboard
              </a>
            </li>
           
            <li class="nav-item">

              <a class="nav-link active" href="AddNewEmployee.html">
                <span data-feather="file" class="align-text-bottom"></span>
                Add New Employee
              
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/Payroll.html">
                <span data-feather="shopping-cart" class="align-text-bottom"></span>
               Payroll Admin
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/LeavedaysAdmin.html">
                <span data-feather="users" class="align-text-bottom"></span>
               Leave Days Admin
              </a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="/PayrollCommits.html">
                <span data-feather="users" class="align-text-bottom"></span>
               Payroll Commits
              </a>
            </li>
          </ul>
  
        </div>
      </nav>
 
  
  
      <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
          <h1 class="h2">Administration</h1>
         
            </button>
          <div class="btn-toolbar mb-2 mb-md-0">
              
            <div class="btn-group me-2">
      
                 
              <button type="button" class="btn btn-sm btn-outline-secondary Size_btn">Share</button>
              
              <button type="button" class="btn btn-sm btn-outline-secondary Size_btn">Export</button>
            </div>
            <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle Size_btn">
              <span data-feather="calendar" class="align-text-bottom"></span>
              This week
            </button>
          </div>
        </div>
        
        <div class="row">
          <div class="EmployeesHeader col-8">Add new Empoyee</div>
          <div class="col-4">
          
          
          
          </div>
        </div>

        <section class="AddNewEmployee">
          <form class="needs-validation" action="/Addnewemployee" method="post" novalidate>
            <div class="form-row">
              <div class="col-md-4 mb-3">
                <label for="validationCustom01">First name</label>
                <input type="text" class="form-control" id="validationCustom01" name="FirstName" placeholder="First name" required>
                <div class="invalid-feedback">
                  Please enter First Name
                </div>
              </div>
            
              <div class="col-md-4 mb-3">
                <label for="validationCustom02">Last name</label>
                <input type="text" class="form-control" id="validationCustom02" name="LastName" placeholder="Last name"   required>
                <div class="invalid-feedback">
                  Please enter Enter Last Name
                </div>
              </div>
              <div class="col-md-2 mb-3">
                <label for="validationCustomTitle">Title</label>
                <input type="text" class="form-control" id="validationCustomTitle" name="Title" placeholder="Title" pattern="[a-zA-Z][a-zA-Z '-]*" required>
                <div class="invalid-feedback">
                  Please enter a valid title.
                </div>
              </div>
              

              
            </div>
            <div class="form-row">
              <div class="col-md-4 mb-3">
                <label for="validationCustom01">Image link</label>
                <input type="text" class="form-control" id="validationCustom01" name="Imagelink" placeholder="Paste link" required>
                <div class="invalid-feedback">
                  Please Enter a valid Link
                </div>
              </div>
          
              <div class="col-md-4 mb-3">
                <label for="validationCustomEmail">Email address</label>
                <input type="email" class="form-control" id="validationCustomEmail" name="Emailaddress" placeholder="you@example.com" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" required>
                <div class="invalid-feedback">
                  Please enter a valid email address.
                </div>
              </div>

        
            </div>

            <div class="form-row">
              <div class="col-md-4 mb-3">
                <label for="validationCustomContactNumber">Contact Number</label>
                <input type="number" class="form-control" id="validationCustomContactNumber" name="Contactnumber" placeholder="Contact number" pattern="^(\+27|0)[1-9]\d{8}$" required>
                <div class="invalid-feedback">
                  Please enter a valid South African contact number.
                </div>
              </div>
              <div class="col-md-4 mb-3">
                <label for="validationCustomContactNumber">Alternative Contact Number</label>
                <input type="number" class="form-control" id="validationCustomContactNumber" placeholder="Alternative contact number" name="alternativecontacts" pattern="^(\+27|0)[1-9]\d{8}$" required>
                <div class="invalid-feedback">
                  Please enter a valid South African contact number.
                </div>
              </div>
             

            </div>
            <div class="form-row">
              <div class="col-md-4 mb-3">
                <label for="validationCustomIDNumber">ID number</label>
                <input type="number" class="form-control" id="validationCustomIDNumber" min="0"  max="13" placeholder="ID number" name="IDNo" pattern="^\d{13}$" required>
                <div class="invalid-feedback">
                  Please enter a valid 13-digit South African ID number.
                </div>
              </div>
              <div class="col-md-4 mb-3">
                <label for="validationCustomTaxNumber">Tax number</label>
                <input type="number" class="form-control" id="validationCustomTaxNumber" name="TaxNo" placeholder="Tax number" pattern="^\d{10}$" required>
                <div class="invalid-feedback">
                  Please enter a valid 10-digit South African tax number.
                </div>
              </div>
            </div>







            <div class="form-row">
              
              <div class="col-md-4 mb-3">
                <label for="validationCustomNationality">Nationality</label>
                <input type="text" class="form-control" id="validationCustomNationality" name="Natinality" placeholder="Nationality" pattern="[A-Z]{2}" required>
                <div class="invalid-feedback">
                  Please enter a valid nationality code (two uppercase letters).
                </div>
              </div>
              <div class="col-md-4 mb-3">
                <label for="validationCustomTitle">Home Address</label>
                <input type="text" class="form-control" id="validationCustomTitle" placeholder="Home Address"  name="Homeaddress" pattern="[a-zA-Z][a-zA-Z '-]*" required>
                <div class="invalid-feedback">
                  Please enter a Home Address.
                </div>
              </div>
             
            </div>



            <div class="form-row">
              

              <div class="col-md-4 mb-3">
                <label for="validationCustomNationality">hourly Rate</label>
                <input type="number" class="form-control" id="validationCustomNationality" name="Hourrate" placeholder="000" pattern="[A-Z]{2}" required>
                <div class="invalid-feedback">
                  Please enyer hourly Rate
                </div>
              </div>





              <div class="col-md-4 mb-3">
                <label for="validationCustomNationality">Days Allocated</label>
                <input type="number" class="form-control" id="validationCustomNationality" name="daysAllocated" placeholder="000" pattern="[A-Z]{2}" required>
                <div class="invalid-feedback">
                  Please enyer Days Allocated
                </div>
              </div>
              
              
              
            </div>
            

            <div class="form-row">
             
              

              <div class="col-md-4 mb-3">
                <label for="validationCustomTitle">Job Title</label>
                <input type="text" class="form-control" id="validationCustomTitle" name="JobTitle" placeholder="Job Title" pattern="[a-zA-Z][a-zA-Z '-]*" required>
                <div class="invalid-feedback">
                  Please enter a Job Title.
                </div>
              </div>




              

                
              <div class="col-md-4 mb-3">
                <label for="validationCustomTitle">Department</label>
                <input type="text" class="form-control" id="validationCustomTitle" name="Departmentbody" placeholder="Department" pattern="[a-zA-Z][a-zA-Z '-]*" required>
                <div class="invalid-feedback">
                  Please enter a Department.
                </div>
              </div>
 
            </div>


            <div class="form-group">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
                <label class="form-check-label" for="invalidCheck">
                  Confirm All information provided is valid
                </label>
                <div class="invalid-feedback">
                  You must Confirm before submitting.
                </div>
              </div>
            </div>
            <button class="btn btn-primary" type="submit">Submit form</button>
          </form>
          
          <script>
          // Example starter JavaScript for disabling form submissions if there are invalid fields
          (function() {
            'use strict';
            window.addEventListener('load', function() {
              // Fetch all the forms we want to apply custom Bootstrap validation styles to
              var forms = document.getElementsByClassName('needs-validation');
              // Loop over them and prevent submission
              var validation = Array.prototype.filter.call(forms, function(form) {
                form.addEventListener('submit', function(event) {
                  if (form.checkValidity() === false) {
                    event.preventDefault();
                    event.stopPropagation();
                  }
                  form.classList.add('was-validated');
                }, false);
              });
            }, false);
          })();
          </script>



        </section>
 
        <!-- Modal dialog -->
        <script src="/js/script.js"></script>
         </body>
      
      


<!-- Main content -->




  

 <!-- this below is for connectinf the pages -->
 



</html>