<%- include('partials/header') %>






<div class="jumbotron centered">
 
    <div class="container">
      <!-- <i class="fas fa-key fa-6x"></i> -->
      <h1 class="display-3" style="font-size: 50px; font-weight:bold; margin-left:30%;margin-top:5%;"> SmartConnect</h1>
      <p class="lead" style="margin-left:30%; font-size:15px">"Stay Connected, Stay Smart with SmartConnect"</p>
      <a href="/register.html" class="btn btn-success">Register New Account</a>
      <div class="col-3" style="margin-top: 10px;"> Demo Account
        Email: SYGE@gmail.com
          Password: Payroll@sageDEVS12
        </div>


      <div class="container mt-5">
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-md-4"></div>
    <div class="col-12 col-md-4">
                <div class="">
      <div class="">

        <!-- Makes POST request to /login route -->
        <form action="/" method="POST">
          <div class="form-group">
            <label for="email">Student Email</label>
            <input type="email" class="form-control col-md-5" name="username">
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control col-md-5" name="password">
          </div>
          <button type="submit" class="btn btn-danger">Login</button>
        </form>

      </div>





</div></div>
    <div class="col-12 col-md-4">
      
    </div>
  </div>





<%- include('partials/footer') %>
