<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to Our Site</title>
    <style>
      body {
        font-family: Arial, sans-serif;
        background-color: #f2f2f2;
      }
      .container {
        margin: 0 auto;
        padding: 20px;
        max-width: 600px;
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
      }
      h1 {
        text-align: center;
        color: #4cb93d;
        margin-bottom: 30px;
      }
      p {
        font-size: 18px;
        line-height: 1.5;
        margin-bottom: 20px;
      }
      .btn {
        display: inline-block;
        padding: 10px 20px;
        background-color: #4fc540;
        color: #fff;
        text-decoration: none;
        border-radius: 5px;
        transition: background-color 0.3s;
      }
      .btn:hover {
        background-color: #b43838;
      }
    </style>
  </head>
  <body>
    <div class="container">
        <h1 class="btn bg-success">Welcome to Our Sage Payroll Software!</h1>
        <p style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">We welcome you on board to our Sage payroll software. We hope to have a great journey with you. Our team will be contacting you shortly to set up your payroll, so you can get started without any delays. Feel free to browse our payroll demo to get a feel for the software.</p>
        <p style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">Please take your time to explore all the features and resources we have to offer. If you have any questions or feedback, we are always happy to help. Simply reach out to us and we'll be glad to assist you.</p>
        <p style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">To get started, click the button below:</p>        
      <a href="/dashboard.html" class="btn">Explore Site</a>
    </div>
  </body>
</html>
